<% title _('Scans') %>

<% title_actions([new_link(_('Run Scan'))]) %>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Scan type</th>
            <th>Ports</th>
            <th>Smart Proxy</th>
            <th>Targeting</th>
            <th>Run at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @scans.each do |scan| %>
            <tr>
                <td><a href="<%= url_for(scan) %>"><%= scan.id %></a></td>
                <td><%= scan.scan_type %></td>
                <td><%= scan.ports.join(', ') %></td>
                <td><%= scan.smart_proxy.name %></td>
                <td><%= targeting_label(scan.targeting) %></td>
                <td><%= scan.task && scan.task.started_at %></td>
                <td><a href="<%= rerun_foreman_probing_scan_path(:id => scan.id) %>" class="btn">Rerun</a></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate_with_info @scans %>
