<%= title _('Scan') %>
<%= form_for @scan do |f| %>

  <%= selectable_f f, :target_kind, @scan.target_kinds, {}, :label => _('Target kind') %>

  <%= f.fields_for :subnet do |subnet_f| %>
  <div class="kind-subnet hidden">
  <%= selectable_f subnet_f, 'id', Subnet.authorized.map { |s| ["#{s.name} (#{s.network}/#{s.mask}", s.id] } %>
  </div>
  <% end %>

  <%= f.fields_for :host do |host_f| %>
  <div class="kind-host hidden">
  <%= textarea_f host_f, :search_query, :label => _('Search query') %>
  </div>
  <% end %>

  <%= f.fields_for :direct do |direct_f| %>
  <div class="kind-direct">
  <%= text_f direct_f, :ip, :label => _('IP Address') %>
  <%= text_f direct_f, :netmask, :label => _('Netmask') %>
  </div>
  <% end %>

  <%= selectable_f f, :scan_type, @scan.available_scan_types, {}, :label => _('Scan type') %>
  
  <%= f.fields_for :tcp do |tcp_f| %>
    <div class="type-tcp">
    <%= selectable_f tcp_f, :scan_options, @scan.available_tcp_scan_options, {}, :label => _('TCP Scan Options') %>
  
    <%= selectable_f tcp_f, :service, @scan.known_tcp_services, {}, :label => _('Service detection') %>
    </div>
  <% end %>

  <%= f.fields_for :udp do |udp_f| %>
  <div class="type-udp hidden">
    <div class="col-md-4">
    <%= selectable_f udp_f, :service, @scan.known_udp_services, {}, :label => _('Service detection') %>
    </div>
  </div>
  <% end %>

  <%= f.fields_for :icmp do |icmp_f| %>
  <div class="type-icmp hidden">
  <%= selectable_f icmp_f, :service, @scan.icmp_scan_types, {}, :label => _('ICMP Scan Type') %>
  </div>
  <% end %>
  
  <%= text_f f, :ports, :label => _('Ports'), :help_inline => 'Single, port, coma-separated list or range FROM-TO' %>

  <div class="<%= ForemanProbingCore.nmap_available? ? '' : 'disabled' %> ">
  <%= checkbox_f f, :use_nmap, :label => _('Use NMAP') %>
  </div>

  <%= submit_or_cancel f, false, :cancel_path => foreman_probing_scans_path %>

<% end %>